:root {
--primary-text-color: #212121;
--title-text-color: #757575;
--accent-color: #FFFFFF;
--logo-color: #2196F3;
--head-bg-color: #2F303A;
--secondary-bg-color: #F5F4FA;
--hover-color:#2196F3;
--footer-bg-color: #2F303A;
--hover-button-color: #188CE8;
--icon-color: #AFB1B8;
--primary-font: 'Roboto';
--secondary-font: 'Raleway';
--cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: var(--primary-font), sans-serif;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

/* Утилиты */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.list .link.current {
  color: var(--hover-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* logo */
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-color);
  text-decoration: none;

  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-footer{
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-color);
  text-decoration: none;
}

.logo-black {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-text-color);
}
.logo-white {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
}

/* header & footer */
.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  font-style: normal;
  line-height: 1.7;
  color: var(--accent-color);
}
.nav {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 32px 0;

  transition: color 250ms var(--cubic);
}
.contact .contacts {
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: flex;
  align-items: center;
  fill: var(--title-text-color);
}
.contacts {
  font-style: normal;
  line-height: 1.7;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms var(--cubic),
  fill 250ms var(--cubic);
}
.nav:hover, 
.nav:focus,
.contacts:hover,
.contacts:focus {
  color: var(--hover-color);
  fill: var(--hover-color);
}

/* Flex $ margin */
.site-nav{
  display: flex;
  margin-left: 93px;
}
.contact {
  display: flex;
  margin-left: auto;
}
.site-nav .item:not(:last-child), 
.contact .item:not(:last-child) {
  margin-right: 50px;
}
.header-nav, .main-nav {
  display: flex;
  align-items: center;
  
}
.header {
  border-bottom: 1px solid #ECECEC;
}
address {
  margin-top: 20px;
}
.footer-contact li:not(:last-child) {
  margin-bottom: 9px;
}


/* button */
.button {
  width: 200px;
  height: 50px;
  justify-content: center;
  
  
  border: none;
  border-radius: 4px;
  background-color: var(--hover-color);
  color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--cubic);
}

.btn-hero {
  margin-top: 30px;
}
.button:hover,
.button:focus {
  background-color: var(--hover-button-color);
}
.button-portfolio {
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--primary-text-color);
  padding: 6px 22px;

  transition: background-color 250ms var(--cubic),
  color 250ms var(--cubic),
  box-shadow 250ms var(--cubic);
}
.button-portfolio:hover, 
.button-portfolio:focus {
  color: var(--accent-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}


/* primery page */
.head.section {
  background-color: var(--head-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image:linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url('../images/img-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.head-title {
  margin: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.our-team {
  background-color: var(--secondary-bg-color);
}
.description {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-text-color);

  margin-bottom: 10px;
}
.features-description {
  line-height: 1.7;
  color: var(--title-text-color);
}
.head-projects, .head-team, .head-clients {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--primary-text-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.speciality {
  font-size: 16px;
  text-align: center;
  color: var(--title-text-color);
}

/* flex primary */
.solutions {
  padding-top: 0;
}
.features.list {
  display: flex;
}
.features .item {
  flex-wrap: wrap;
  width: 270px;
}
.features .item:not(:last-child) {
  margin-right: 30px;
}
.projects.list {
  display: flex;
  margin-top: 50px;
}
.projects .item:not(:last-child) {
  margin-right: 30px;
}
.team.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.team .item:not(:last-child) {
  margin-right: 30px;
}
.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* portfolio page */
.projects-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  
  margin-bottom: 4px;
}
.description-projects {
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-text-color);
}

/* flex */
.btn.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
.btn .item:not(:last-child) {
  margin-right: 8px;
}
.cards-projects.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.cards-projects .item {
  margin-right: 30px;
  margin-bottom: 30px;
  
}
.cards-projects .item:nth-child(3n) {
  margin-right: 0;
}
.cards-projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.text-projects {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE ;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 24px;
}

/* ДЗ-4 иконки */
.client-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}
.client {
  display: block;
  object-position: center;
}
.client {
  fill: var(--icon-color);
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--cubic),
  fill 250ms var(--cubic);
}
.client:hover,
.client:focus {
  border-color: var(--hover-color);
  fill: var(--hover-color);
  outline: none;
}

.portfolio-link {
  display: block;
  position: relative;

  transition: box-shadow 250ms var(--cubic);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}
.head-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--accent-color);
  text-transform: uppercase;
}
.footer-nav {
  display: flex;
  align-items: baseline;
 
}

.socials-links {
  margin-left: 70px;
}
.social-link {
  margin-top: 20px;
  display: flex;
}
.footer-social {
  fill: var(--accent-color);
}
.footer-social {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms var(--cubic);
}
.footer-social:hover,
.footer-social:focus {
  background-color: var(--hover-color);
  outline: none;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-team {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.team-social {
  fill: var(--icon-color);
  padding: 12px;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: background-color 250ms var(--cubic),
  fill 250ms var(--cubic);
}
.team-social:hover,
.team-social:focus {
  background-color: var(--hover-color);
  fill: var(--accent-color);
  outline: none;
}

.tumb {
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
}
/* Overlay */
.product-text {
  font-size: 18px;
  line-height: 28px;
  color: var(--accent-color);
}
.product-thumb {
  position: relative;
  overflow: hidden;
}


.product-actions {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.portfolio-link:hover .product-actions {
  transform: translateY(0);
}

.current {
  position: relative;
}
.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;

  background-color: var(--hover-color);
  width: 100%;
  height: 4px;
  border-radius: 2px; 
}

.projects-item {
  position: relative;
}
.head-project {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
  background-color: rgba(47, 48, 58, 0.8);
  
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 250ms var(--cubic);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
  padding: 40px;

  transition: transform 250ms var(--cubic);
}
.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  cursor: pointer;
  
  background-repeat: no-repeat;
  background-position: center;
  transition: fill 250ms var(--cubic);
}

.btn-modal:hover {
  fill: var(--hover-color);
}
.btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* Form */

.form {
  width: 448px;
  margin: 0 auto;
}
.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 12px;
}
.checkbox-link {
  padding-left: 5px;
  color: var(--hover-color);
}

.form-field input {
  padding: 12px 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field label {
  font-size: 12px;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
}

textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  transition: border-color 250ms var(--cubic),
  fill 250ms var(--cubic);
}

.form-input:focus,
.form-input:focus ~ .form-icon {
  border-color: var(--hover-color);
  fill: var(--hover-color);
  outline: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
}

.btn-submit {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}

/* footer form */
.footer-input {
  width: 360px;
  padding: 15px 0 15px 16px;
  line-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bg-color);
  color: var(--accent-color);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-label {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.form-footer {
  display: flex;
  align-items: flex-end;
}
.footer-field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.icon-send {
  fill: var(--accent-color);
}
.btn-subscribe {
  display: flex;
  justify-content: space-between;
  padding: 0px 28px;
}
.form-subscribe {
    margin-left: auto;
}


/* checkbox */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
.checkbox-label {
  display: flex;
  justify-content: center;
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
