.footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    font-style: normal;
    line-height: 1.7;
    color: var(--accent-color);
}

.nav {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding: 32px 0;

    transition: color 250ms var(--cubic);
}

.contact .contacts {
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: flex;
    align-items: center;
    fill: var(--title-text-color);
}

.contacts {
    font-style: normal;
    line-height: 1.7;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color 250ms var(--cubic),
        fill 250ms var(--cubic);
}

.nav:hover,
.nav:focus,
.contacts:hover,
.contacts:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
}

/* Flex $ margin */
.site-nav {
    display: flex;
    margin-left: 93px;
}

.contact {
    display: flex;
    margin-left: auto;
}
.contact-icon {
    margin-right: 10px;
}

.site-nav .item:not(:last-child),
.contact .item:not(:last-child) {
    margin-right: 50px;
}

.header-nav,
.main-nav {
    display: flex;
    align-items: center;

}

.header {
    border-bottom: 1px solid #ECECEC;
}

address {
    margin-top: 20px;
}