:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #FFFFFF;
    --logo-color: #2196F3;
    --head-bg-color: #2F303A;
    --secondary-bg-color: #F5F4FA;
    --hover-color: #2196F3;
    --footer-bg-color: #2F303A;
    --hover-button-color: #188CE8;
    --icon-color: #AFB1B8;
    --primary-font: 'Roboto';
    --secondary-font: 'Raleway';
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    margin: 0;
    font-family: var(--primary-font), sans-serif;
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Утилиты */
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.list .current {
    color: var(--hover-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}